.imageContainer {
  width: 100%;
  position: relative;
}

.imageContainer > div {
  position: unset !important;
}

.imageContainer .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
